@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

/* Layout */
.Container {
  margin: 0 auto;
}

.Flex {
  display: flex;
  justify-content: space-between;
}

/* Topo do site */
#topo {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

/* Smartphone Portraid >>>>>>>>>>>>>>>>>>>>>>>>>*/

/* Cabeçalho */

header {
  height: 60px;
}

#logo img {
  width: 128px;
  height: 152px;
}

#check {
  display: none;
}

label {
  font-size: 3em;
  padding-right: 15px;
}

nav ul {
  list-style: none;
  background-color: black;
  height: 100vh;
  position: fixed;
  top: 60px;
  right: -100%;
  width: 30%;
  transition: all 0.5s;
}

#check:checked ~ ul {
  right: 0;
}

nav ul li {
  padding: 20px;
  border-bottom: 1px solid #a9a9a9;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

/* Smartphone Lansdscape >>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
/* Tablet Portait >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {
  .container {
    max-width: 920px;
  }
}
/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  /* Cabeçalho */
  header {
    height: 120px;
  }
  #logo img {
    width: 159px;
    height: 189px;
    margin-top: 30px;
  }

  label {
    display: none;
  }
  nav ul {
    position: static;
    height: auto;
    background-color: transparent;
    width: 100%;
    margin-top: 50px;
  }

  nav ul li {
    float: left;
    border: 0;
  }

  nav ul li a {
    color: #343538;
  }

  nav ul li a:hover {
    color: #0a42e9;
  }
}
